@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";

table {
	color: green;
	border-style: dotted;
	color: blue;
	background-color: lightblue;
}

td {
	padding: 22px;
	text-align: left;
}

.submitbutton {
	background-color: skyblue;
	color: white;
	align: center;
}
__